{% extends "main/layout.html" %}

{% block title %}
    MAG | About
{% endblock %}

{% block body %}
    <main id="about-page">
        <h1 class="text-center">
            About MAG
        </h1>
        <div class="card fs-6 lh-lg mb-4 p-2">
            MAG (Make Africa Great) is a non-profit organization that is dedicated to the development of African countries and their people. Members make monthly donation (₦100) and these donations are used to carry out Causes. Causes are projects that can help people or the society, and are submitted by a registered MAG member. Upon approval, MAG members cast a single vote on their preferred Cause. The Causes with the highest votes, and which falls under the total money donated that month, gets to be executed. Causes could be anything from a dilapidated school, to road construction, to hiring legal counsels for the wrongfully accused, etc.
        </div>
    </main>
{% endblock %}