{% extends "main/layout.html" %}

{% block title %}
    MAG | Causes
{% endblock %}

{% block body %}
    <main id="">
        <h1 class="text-center">
            Causes
        </h1>
        <div>
            Start a new Cause!
            <span>
                <a class="btn btn-primary" href="{% url 'new-cause' %}">
                    Create
                </a>
            </span>
        </div>
        
        <br>
        <div>
        {% for cause in causes %}
            <div class="align-items-center border-warning card text-center">
                <img src="{{ cause.profile_pic.file_upload.url }}" class="card-img-top d-block w-25 img-fluid" alt="{{ cause.cause.name }}">
                <di class="card-body">
                    <a class="card-title text-decoration-none" href="{% url 'cause' cause.cause.slug %}">
                        {{ cause.cause.name }}
                    </a>
                    <div class="card-text">
                        &#x20A6;{{ cause.cause.cost }}
                    </div>
                    <div>
                        {% if cause.cause.status == "Awaiting Approval" %}
                            Awaiting Approval
                        {% else %}
                            Votes: {{ cause.cause.votes }}
                        {% endif %}
                    </div>
                    {% if cause.cause.expiration %}
                    <footer class="card-footer text-muted">Expires in {{ cause.cause.expiration }} day(s)</footer>
                    {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}
        </div>

    </main>
{% endblock %}