{% extends "main/layout.html" %}

{% block title %}
    MAG | Cause - {{ cause.name }}
{% endblock %}

{% block body %}
    <main id="cause-page">
        <h1>
            {{ cause.name }}
        </h1>
        <span hidden id="cause-id">{{ cause.id }}</span>
        
        {% if cause_files %}
            {% for cause_file in cause_files %}
                {% if cause_file.file_type == "Image" and cause_file.file_purpose == "Profile Picture" %}
                <div>
                    <img src="{{ cause_file.file_upload.url }}" alt="{{ cause.name }}" height="100rem" width="100rem">
                </div>
                <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        <span>            
        {% if cause.status != "Awaiting Approval" %}
            <div>
                Votes <span id="vote-count">{{ voters|length }}</span> 
                <span>
                    {% if user.is_authenticated %}
                        <button id="vote">
                        {% if user in voters %}
                            Unvote
                        {% else %}
                            Vote
                        {% endif %}
                        </button>
                    {% endif %}
                </span>
            </div>
            <br>
        {% endif %}
        </span>

        <div>
            Brief Description: {{ cause.brief_description }}
        </div>
        <br>
        <div>
            Location:
            {% if cause.address %}
                {{cause.address}}, 
            {% endif %}
            {{ cause.city }}, {{ cause.state }}, {{ cause.country }}, 
        </div>
        <br>
        <div>
            Duration: {{ cause.duration }}
        </div>
        <br>
        <div>
            Total Cost: {{ cause.cost }}
        </div>
        <br>
        <div>
            Detail Description: {{ cause.detail_description }}
        </div>
        <br>
        {% if cause.expiration %}
            <div>
                Expires in: {{cause.expiration}} days
            </div>
            <br>
        {% endif %}
        <div>
            Current Status: {{ cause.status }}
        </div>
        <br>
        <div>
            Cost Breakdown: {{ cause.cost_breakdown }}
        </div>
        <br>
        <div>
            Submitted by: {{ cause.creator }}, on {{ cause.date_added}}
        </div>
        <br>
        {% if backers %}
            Backed by: <span>
                <ul>
                    {% for backer in backers %}
                    <li>{{ backer.username }} - ({{ backer.rank }})</li>
                    {% endfor %}
                </ul>
            </span> 
        <br>
        {% endif %}
        {% if cause.investigated == True %}
            <div>
                Investigated by {{cause.investigator}}
            </div>
            <br>
            <div>
                Investigator's note: {{ cause.investigation_note }}
            </div>
            <br>
        {% endif %}
        {% if cause.approved == True %}
            <div>
                Approved by {{cause.approver}}, on {{cause.approved_date}}
            </div>
            <br>
        {% endif %}
        {% if cause.completed == True %}
            <div>
                The Cause has been successfully completed. Congrats to all MAG members for a job well done.
            </div>
            <br>
            <div>
                Supervised by: {{ cause.supervisor }}
            </div>
            <br>
            <div>
                Coordinated by: {{ cause.coordinator }}
            </div>
            <br>
            {% if volunteers %}
                <div>
                    Volunteers: <span>
                        <ul>
                            {% for volunteer in volunteers %}
                            <li>{{ volunteer.username }} - ({{ volunteer.rank }})</li>
                            {% endfor %}
                        </ul>
                    </span> 
                </div>
                <br>
            {% endif %}
        {% endif %}
        {% if cause.closed == True %}
            <div>
                This Cause has been closed by {{cause.closer}}, on {{cause.closed_date}}
            </div>
            <br>
            <div>
                {{ cause.closed_note }}
            </div>
            <br>
        {% endif %}
    
        {% if cause_files %}
            <div>
            {% for cause_file in cause_files %}
                {% if cause_file.file_type == "Image" %}
                <img src="{{ cause_file.file_upload.url }}" alt="{{ cause.name }}" height="100rem" width="100rem">
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}

        <div>
            <h3>
                Comments:
            </h3>
            <form action="#" method="post">
                {% csrf_token %}

                <!-- Comment -->
                <div class="mb-3">
                    <label for="comment" class="form-label">
                        Your Comment
                    </label>
                    <textarea class="form-control" id="comment" aria-describedby="commentHelp" name="comment" placeholder="Hi everyone! Nice work." required type="text"></textarea>
                    <small id="commentHelp" class="form-text">
                        What would you like to say about this Cause?
                    </small>
                </div>

                <button type="submit" class="btn btn-primary" id="post-comment">
                    Post
                </button>
                
            </form>

        </div>

        <div>
            

    {% if comments %}
    <br>
    <h3>Comments</h3>
        <div id="comments">
        {% for comment in comments %}
            <div>
                <span>{{ comment.user.username }}:</span> <span class="float-right">{{ comment.comment }}</span>
                <br>
                <br>
                <br>
            </div>
        {% endfor %}
        </div>

    {% else %}
    <br>
        <div>
            There are no comments for this Cause.
        </div>
        <br>
        <br>
        <br>
    {% endif %}
        </div>

    </main>
{% endblock %}