{% extends "main/layout.html" %}

{% block title %}
    MAG | Causes
{% endblock %}

{% block body %}
    <main id="">
        <h1>
            Causes
        </h1>
        <div>
            Start a new Cause!
            <div>
                <a class="btn btn-primary" href="{% url 'new-cause' %}">
                    Create
                </a>
            </div>
        </div>
        <div>
        {% for cause in causes %}
            <div>
                {{ cause.name }}
            </div>
        {% endfor %}
        </div>

    </main>
{% endblock %}