{% extends "main/layout.html" %}

{% block title %}
    MAG | Donation
{% endblock %}

{% block body %}
    <main id="payment-page">
        <h1>
            Payment Portal
        </h1>
        <br>
        <div>
            &#x20A6;100 is about to be charged to your account.
        </div>
        <br>
        <div>
            <a class="btn btn-primary" href="{% url 'pay' %}">Pay</a>
            <a class="btn btn-danger" href="{% url 'index' %}">Cancel</a>
        </div>
    </main>
{% endblock %}