{% extends "main/layout.html" %}

{% block title %}
    MAG
{% endblock %}

{% block body %}
        <!--  This is the homepage -->
        <main id="home-page">
            <h1>
                Home!
            </h1>
            <h2 class="card">
                Jumbotron
            </h2>
            <h2 class="card">
                Brief About MAG
            </h2>
            <div class="card">
                {% if causes %}
                    {% for cause in causes %}
                    <span>
                        <a href="{% url 'cause' cause.slug %}">
                            {{cause.name}}
                        </a>
                        </span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                <h2 class="card col">
                    Account Total
                </h2>
                <h2 class="card col">
                    Vertical Carousel of latest account activity
                </h2>
            </div>
            <div class="card">
                <h2>
                    Why join MAG
                </h2>
                <a class="btn btn-primary" href="{% url 'register' %}">
                    Become a member
                </a>

            </div>
        </main>

{% endblock %}