{% extends "main/layout.html" %}

{% block title %}
    MAG
{% endblock %}

{% block body %}
        <!--  This is the homepage -->
        <main id="home-page">
            <h1>
                Home!
            </h1>
            <h3 class="card">
                Jumbotron
            </h3>
            <div class="card fs-5">
                MAG (Make Africa Great) is a non-profit organization that is dedicated to the development of Africans and their countries.
            </div>

            <!-- CAROUSEL -->
            <div class="card">

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner text-center" role="listbox">
                        {% for cause in causes %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="{% url 'cause' cause.cause.slug %}">
                                <img src="{{ cause.profile_pic.file_upload.url }}" class="d-block w-25" alt="{{ cause.cause.name }}">
                                <span>
                                    <h5>
                                        &#x20A6;{{ cause.cause.cost }}
                                    </h5>
                                    <p>
                                        {{ cause.cause.name }}
                                    </p>
                                </span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>

            <div class="row">
                <div class="card col fs-3 fw-bold">
                    Account Total: &#x20A6;{{ monthly_info.total_amount }}
                </div>
                <h3 class="card col">
                    Vertical Carousel of latest account activity
                </h3>
            </div>
            <div class="card">
                <h3>
                    Why join MAG
                </h3>
                <a class="btn btn-primary" href="{% url 'register' %}">
                    Become a member
                </a>

            </div>
        </main>

{% endblock %}