{% extends "main/layout.html" %}

{% block title %}
    MAG
{% endblock %}

{% block body %}
        <!--  This is the homepage -->
        <main id="home-page">
            <h1>
                Home!
            </h1>
            <h2 class="card">
                Jumbotron
            </h2>
            <h2 class="card">
                Brief About MAG
            </h2>
            <h2 class="card">
                SlideShow of recent/popular causes
            </h2>
            <div class="row">
                <h2 class="card col">
                    Account Total
                </h2>
                <h2 class="card col">
                    Vertical Carousel of latest account activity
                </h2>
            </div>
            <div class="card">
                <h2>
                    Why join MAG
                </h2>
                <button class="btn btn-primary">
                    Become a member
                </button>

            </div>
        </main>

{% endblock %}