{% extends "main/layout.html" %}

{% block title %}
    MAG | Register
{% endblock %}

{% block body %}
    {% if not user.is_authenticated %}
    <main id="register-page">
        <h1>
            Register
        </h1>
        <form action="{% url 'register' %}" autocomplete="on" method="post">
            {% csrf_token %}
            <h2>
                Become an Angel
            </h2>

            <div class="mb-3 row">

                <!-- First Name -->
                <div class="col">
                    <label for="reg-firstname" class="form-label">
                        First Name
                    </label>
                    <input type="text" class="form-control" id="reg-firstname" aria-describedby="firstNameHelp" name="reg-firstname" placeholder="Adaeze" required>
                    <small id="firstNameHelp" class="form-text">
                        Your first name.
                    </small>
                </div>

                <!-- Last Name -->
                <div class="col">
                    <label for="reg-lastname" class="form-label">
                        Last Name
                    </label>
                    <input type="text" class="form-control" id="reg-lastname" aria-describedby="lastNameHelp" name="reg-lastname" placeholder="Obi" required>
                    <small id="lastNameHelp" class="form-text">
                        Your family name
                    </small>
                </div>
            </div>

            <div class="mb-3 row">

                <!-- User Name -->
                <div class="col">
                    <label for="reg-username" class="form-label">
                        User Name
                    </label>
                    <input type="text" class="form-control" id="reg-username" aria-describedby="userNameHelp" name="reg-username" placeholder="Adaeze_obi" required>
                    <small id="userNameHelp" class="form-text">
                        A unique name just for you
                    </small>
                </div>

                <!-- Phone number -->
                <div class="col">
                    <label for="reg-phone" class="form-label">
                        Mobile Phone no.
                    </label>
                    <input aria-describedby="phoneHelp" class="form-control" id="reg-phone" maxlength="11" name="reg-phone" pattern="[0]{1}[7-9]{1}[0-1]{1}[0-9]{8}" placeholder="07012345678" required type="tel">
                    <small id="phoneHelp" class="form-text">
                        Must begin with "0", then a "7", "8", or "9", then a "0" or "1", and 8 more digits.
                    </small>
                </div>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="reg-email" class="form-label">
                    Email address
                </label>
                <input type="email" class="form-control" id="reg-email" aria-describedby="emailHelp" name="reg-email" required>
                <small id="emailHelp" class="form-text">
                    We'll never share your email with anyone else.
                </small>
            </div>

            <div class="mb-3 row">

                <!-- Password -->
                <div class="col">
                    <label for="reg-password" class="form-label">
                        Password
                    </label>
                    <input aria-describedby="passwordHelp" class="form-control" id="reg-password" minlength="8" name="reg-password" required type="password">
                    <small id="passwordHelp" class="form-text">
                        Must be a minimum of 8 characters.
                    </small>
                </div>
                
            <!-- Password Confirmation -->
                <div class="col">
                    <label for="reg-password-confirm" class="form-label">
                        Retype Password
                    </label>
                    <input aria-describedby="passwordConfirmHelp" class="form-control" id="reg-password-confirm" minlength="8" name="reg-password-confirm" required type="password">
                    <small id="passwordConfirmHelp" class="form-text">
                        Passwords must match
                    </small>
                </div>
            </div>
            
            <div>
                
                <div class="row">

                    <!-- Gender Selection -->
                    <div class="col">
                        <label class="form-check-label" for="reg-gender">
                            Female
                        </label>
                        <select aria-describedby="genderHelp"  class="form-log form-control" id="reg-gender" name="reg-gender" list="gender" placeholder="Gender">
                            <option value=""></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <small id="genderHelp" class="form-text">
                            Are you male or female?
                        </small>
                    </div>		
                    
                    <!-- Birthday -->
                    <div class="col">                    
                        <label class="form-label" for="reg-birthday">
                            Birthday:
                        </label>
                        <input aria-describedby="birthdayHelp" class="form-control" id="reg-birthday" name="reg-birthday" type="date">
                        <small id="birthdayHelp" class="form-text">
                            The date you were born.
                        </small>
                    </div>
                </div>

                <div class="row">
                    
                    <!-- Country -->
                    <div class="col">
                        <label for="reg-country" class="form-label">
                            Country
                        </label>
                        <input aria-describedby="countryHelp" class="form-control" id="reg-country" name="reg-country" placeholder="Nigeria" type="text">
                        <small id="countryHelp" class="form-text">
                            Country of residence
                        </small>
                    </div>

                    <!-- State -->
                    <div class="col">
                        <label for="reg-state" class="form-label">
                            State
                        </label>
                        <input aria-describedby="stateHelp" class="form-control" id="reg-state" name="reg-state" placeholder="Lagos" type="text">
                        <small id="stateHelp" class="form-text">
                            State in Country
                        </small>
                    </div>
                </div>

                <div class="row">
                    
                    <!-- LGA -->
                    <div class="col">
                        <label for="reg-lga" class="form-label">
                            LGA
                        </label>
                        <input aria-describedby="lgaHelp" class="form-control" id="reg-lga" name="reg-lga" placeholder="Lagos Island" type="text">
                        <small id="lgaHelp" class="form-text">
                            Your Local Government Area
                        </small>
                    </div>
                
                    <!-- City -->
                    <div class="col">
                        <label for="reg-city" class="form-label">
                            City/Town
                        </label>
                        <input aria-describedby="cityHelp" class="form-control" id="reg-city" name="reg-city" placeholder="Victoria Island" type="text">
                        <small id="cityHelp" class="form-text">
                            Your City or Town of residence
                        </small>
                    </div>

                </div>
                
                <!-- Address -->
                <div>
                    <label for="reg-address" class="form-label">
                        Address
                    </label>
                    <input aria-describedby="addressHelp" class="form-control" id="reg-address" name="reg-address" placeholder="No 1, First Street" type="text">
                    <small id="addressHelp" class="form-text">
                        House number and Street name
                    </small>
                </div>

                <div class="row">
                    
                    <!-- Occupation -->
                    <div class="col">
                        <label for="reg-occupation" class="form-label">
                            Occupation
                        </label>
                        <input aria-describedby="occupationHelp" class="form-control" id="reg-occupation" name="reg-occupation" placeholder="Civil Engineer" type="text">
                        <small id="occupationHelp" class="form-text">
                            What you do for a living
                        </small>
                    </div>
                
                    <!-- Linkedin URL -->
                    <div class="col">
                        <label for="reg-linkedin" class="form-label">
                            City/Town
                        </label>
                        <input aria-describedby="linkedinHelp" class="form-control" id="reg-linkedin" name="reg-linkedin" placeholder="https://www.linkedin.com/mwlite/in/ewere.njokede" type="url">
                        <small id="linkedinHelp" class="form-text">
                            Full URL to your Linkedin page
                        </small>
                    </div>

                </div>

                <!-- Bio -->
                <div>
                    <label for="reg-bio" class="form-label">
                        bio
                    </label>
                    <textarea aria-describedby="bioHelp" class="form-control" id="reg-bio" name="reg-bio" placeholder="I am a Civil Engineer with a deep passion to help humanity" type="text"></textarea>
                    <small id="bioHelp" class="form-text">
                        Tell us a little about you
                    </small>
                </div>

                <!-- Profile Picture -->
                <div>
                    <label for="reg-profile-pic" class="form-label">
                        Profile Picture
                    </label>
                    <input alt="Profile Picture" aria-describedby="profilePicHelp" class="form-control" id="reg-profile-pic" name="reg-profile-pic" type="file">
                    <small id="profilePicHelp" class="form-text">
                        A profile picture of you
                    </small>
                </div>

            </div>
            
            <br>
            <button type="submit" class="btn btn-primary">
                Create
            </button>

        </form>
    </main>
    {% endif %}
{% endblock %}