{% extends "main/layout.html" %}

{% load static %}

{% block title %}
    MAG | About
{% endblock %}

{% block body %}
    <main id="">
        <h1>
            Test
        </h1>
        <div>
            <img src="{{ test.pic.url }}" alt="" height="100rem" width="100rem">
        </div>
        <form action="{% url 'test' %}" enctype="multipart/form-data" method="POST">
			{% csrf_token %}
            <div>
                <label for="cause-files" class="form-label">
                    Cause files
                </label>
                <input alt="Cause files" aria-describedby="filesHelp" class="form-control" id="cause-files" multiple name="test" type="file">
                <small id="filesHelp" class="form-text">
                    Upload files (documents, pictures, videos, etc.) as supporting evidences of Cause
                </small>
            </div>
            <input type="submit" value="Test Upload">
        </form>
    </main>
{% endblock %}


<div id="texte_a_afficher" class="texte_inselectionnable" style="height: 136px;">
    <span class="stabilisation"></span><p style="text-align: center;"><strong>The Federal Republic of Nigeria</strong></p>
<p style="text-align: center;"><strong><br><br>Companies and Allied Matters Act, 2020</strong></p>
<p style="text-align: center;"><br><br><br><strong>Private Company Limited by Shares</strong></p>
<p style="text-align: center;"><strong><br><br><br>Memorandum</strong></p>
<p style="text-align: center;"><strong><br><br>of</strong></p>
<p style="text-align: center;"><strong><br><br>Association<br><br><br></strong></p>
<p style="text-align: center;"><strong>of<br><br></strong></p>
<p style="text-align: center;"><strong><span id="span_id_ltd_name_of_company">BENNO REAL ESTATE LIMITED</span></strong></p>
<p style="text-align: center;"></p><div style="page-break-before:always;"></div><p></p>
<p style="text-align: center;"><strong>The Federal Republic of Nigeria</strong></p>
<p style="text-align: center;"><strong>The Companies and Allied Matters Act, 2004</strong></p>

<p style="text-align: center;"><strong>Private Company Limited by Shares</strong></p>
<p style="text-align: center;"><strong>Memorandum of Association (As amended)</strong></p>
<p style="text-align: center;"><strong>of<br><br></strong></p>
<p style="text-align: center;"><strong><span id="span_id_ltd_name_of_company">BENNO REAL ESTATE LIMITED</span></strong></p>

<p><strong><br>Name of the Company</strong></p>
<p style="text-align: left;">(1) The name of the Company is  <span id="span_id_ltd_name_of_company">BENNO REAL ESTATE LIMITED</span>.</p>
<p><br><span class="flou"><strong>Registered office</strong></span></p>
<p>(2)<span class="flou"> 552 5228822525 222882 22 252 8222522 85588 82 8825522 82 8822585.</span></p>
<p><strong><br>Objects</strong></p>
<p>(3) The objects for which the Company is established are:</p>
<p><strong><br>Type of Company</strong></p>
<p>(4) The Company is a <span style="text-align: center;"> Private Company.</span><span style="text-align: center;"></span></p>
<p><strong><br>Liability of Members</strong></p>
<p>(5) The liability of the members is  Limited by shares. </p>

<p><strong><br>Share Capital</strong></p>
<p>(6) The nominal share capital of the Company is ₦<span id="span_id_sharec_private">1,000,000</span><span style="text-align: center;">  divided into <span id="span_id_number_of_shares">1,000,000</span> ordinary shares of ₦<span id="span_id_amount_of_shares">1</span> (one naira) each.<br><br></span></p>
<p><span class="flou"><strong>We, 252 8282558 2258228 85282 25228, 555528828 525 528858228228 552 8588858825 552 52885258 22 82822 225225 8222 5 8222522 82 255855282 22 2588 2222552552 22 88828852822 525 82 528228288282 52522 22 2522 252 252825 22 85552 82 252 8528258 22 252 8222522 822 22228822 255 5282282882 names</strong>.</span></p>
<p><strong><br>Name of Subscriber</strong>: <span id="span_id_name_1">Ewere Nonso Njokede</span></p>
<p><strong>Address</strong>: <span id="span_id_address1">No. 35 Egbe Layout, Effurun, Delta State, Nigeria</span></p>
<p><strong>Number of shares taken</strong>:  <span id="span_id_shareso">450,000</span> ordinary shares </p>
<p><strong>Signature</strong>:</p>
<p><strong><br>Name of Subscriber</strong>: <span id="span_id_name_2">Benita</span></p>
<p><strong>Address</strong>: <span id="span_id_address2">Ontario, Canada</span></p>
<p><strong>Number of shares taken</strong>:  <span id="span_id_shareso2">550,000</span> ordinary shares </p>
<p><strong>Signature</strong>:</p>

<p><br>Dated on <span id="span_id_date">December 2, 2021</span></p>
<p><br>Witnesses to the above signatures:</p>
<p><br>Name: <span id="span_id_name_of_witness">Afam Henry Okoh</span></p>
<p>Address: <span style="white-space:pre-wrap;"><span id="span_id_address_of_witness" class="encours">Anotech Office, Evoc Yard, Enerhe Road, Delta State, Nigeria</span></span></p>
<p>Occupation: <span id="span_id_occupation" class="encours">Petroleum Engineer</span></p>
<p>Signature:</p>

</div>