{% extends "main/layout.html" %}

{% block title %}
    MAG | {{ user.username }}
{% endblock %}

{% block body %}
    <main>
        <div class="row">
            <h1 class="col">
                Hi {{user.username}}!
            </h1>
            {% if user.profile_pic %}
                <img class="col input-field-file" id="profile-pic-
                field" src="{{ user.profile_pic.url }}" alt="{{user.username}} user picture" height="100rem" width="100rem">  
            {% endif %}
        </div>
        <div class="card mb-4 mt-3">
            <div class="card-body">
                <strong>First Name:</strong>
                <span class="col input-field" id="first-name-field"> {{user.first_name}} 
                </span>
            </div>
            <div class="card-body">
                <strong>Last Name:</strong>
                <span class="col input-field" id="last-name-field"> {{user.last_name}}
                </span> 
            </div>
            <div class="card-body">
                <strong>Email Address: </strong>
                <span>
                    {{user.email}}
                </span>
            </div>
            <div class="card-body">
                <strong>Phone Number: </strong>
                    <span class="input-field" id="phone-field">
                        {{user.phone}}
                    </span>
            </div>
            <div class="card-body">
                <strong>
                    Address: 
                </strong>
                <span class="input-field"  id="address-field">
                {% if user.address %}
                    {{user.address}}, 
                {% endif %}
                </span>
                
                <span class="input-field" id="city-field">
                {% if user.city %}
                    {{user.city}}, 
                {% endif %}
                </span>
    
                <span class="input-field" id="lga-field">    
                {% if user.lga %}
                    {{user.lga}} Local Government Area, 
                {% endif %}
                </span>

                <span class="input-field" id="state-field">    
                {% if user.state %}
                    {{user.state}} State, 
                {% endif %}
                </span>

                <span class="input-field" id="country-field">    
                {% if user.country %}
                    {{user.country}}
                {% endif %}
                </span>
            </div>
            <div class="card-body">
                <strong>Gender: </strong>
                <span class="input-field" id="gender-field">
                    {{user.gender}}
                </span>
            </div>
            <div class="card-body">
                <strong>Date of Birth: </strong>
                <span class="input-field" id="birthday-field">
                    {{user.birthday}}
                </span>
            </div>
            <div class="card-body">
                <strong>
                    Biography: 
                </strong>
                <span class="input-field" id="bio-field">
                    {{user.bio}}
                </span>
            </div>
            <div class="card-body">
                <strong>
                    Occupation: 
                </strong>
                <span>
                    {{user.occupation}}
                </span>
            </div>
            <div class="card-body">
                <strong>
                    Linkedin user: 
                </strong>
                <span>
                    {{user.linkedin}}
                </span>
            </div>
            <div class="card-body">
                <strong>
                    Joined MAG on: 
                </strong>
                <span>
                    {{user.date_joined}}
                </span>
            </div>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'user-profile-edit' %}">
                edit
            </a>
        </div>
        
    </main>
{% endblock %}