{% extends "main/layout.html" %}

{% block title %}
    MAG | {{ user.username }}
{% endblock %}

{% block body %}
    <main>
        <h1>
            Hi {{user.username}}!
        </h1>
        {% if user.pic %}
        <div>
            <img src="{{ user.user_pic.url }}" alt="{{user.username}} user picture" height="100rem" width="100rem">            
        </div>
        {% endif %}
        <div>
            <span>
                First Name: 
            </span>
            <span>
                {{user.first_name}}
            </span>
        </div>
        <div>
            <span>
                Last Name: 
            </span>
            <span>
                {{user.last_name}}
            </span>
        </div>
        <div>
            <span>
                Email Address: 
            </span>
            <span>
                {{user.email}}
            </span>
        </div>
        <div>
            <span>
                Phone Number: 
            </span>
            <span>
                {{user.phone}}
            </span>
        </div>
        <div>
            <span>
                Gender: 
            </span>
            <span>
                {{user.gender}}
            </span>
        </div>
        <div>
            <span>
                Date of Birth: 
            </span>
            <span>
                {{user.birthday}}
            </span>
        </div>
        <div>
            <span>
                Biography: 
            </span>
            <span>
                {{user.bio}}
            </span>
        </div>
        <div>
            <span>
                Address: 
            </span>
            <span>
                {% if user.address %}
                    {{user.address}}, 
                {% endif %}

                {% if user.city %}
                    {{user.city}}, 
                {% endif %}

                {% if user.lga %}
                    {{user.lga}} Local Government Area, 
                {% endif %}

                {% if user.state %}
                    {{user.state}} State, 
                {% endif %}

                {% if user.country %}
                    {{user.country}}, 
                {% endif %}
            </span>
        </div>
        <div>
            <span>
                Occupation: 
            </span>
            <span>
                {{user.occupation}}
            </span>
        </div>
        <div>
            <span>
                Linkedin user: 
            </span>
            <span>
                {{user.linkedin}}
            </span>
        </div>
        <div>
            <span>
                Joined MAG on: 
            </span>
            <span>
                {{user.date_joined}}
            </span>
        </div>
    </main>
{% endblock %}