{% extends "main/layout.html" %}

{% block title %}
    MAG | Edit Profile
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    <main id="edit-profile-page">
        <h1 class="text-center">
            Edit Your Profile
        </h1>
        <form action="{% url 'user-profile-edit' %}" autocomplete="on" enctype="multipart/form-data" method="post">
            {% csrf_token %}

            <div class="mb-3 row">

                <!-- First Name -->
                <div class="col">
                    <label for="edit-firstname" class="form-label">
                        First Name
                    </label>
                    <input aria-describedby="firstNameHelp" autofocus class="form-control" id="edit-firstname" name="edit-firstname" placeholder="{{user.first_name}}"  type="text">
                    <small id="firstNameHelp" class="form-text">
                        Your first name
                    </small>
                </div>

                <!-- Last Name -->
                <div class="col">
                    <label for="edit-lastname" class="form-label">
                        Last Name
                    </label>
                    <input type="text" class="form-control" id="edit-lastname" aria-describedby="lastNameHelp" name="edit-lastname" placeholder="{{user.last_name}}" >
                    <small id="lastNameHelp" class="form-text">
                        Your family name
                    </small>
                </div>
            </div>

            <div class="mb-3 row">

                <!-- User Name -->
                <div class="col">
                    <label for="edit-username" class="form-label">
                        User Name
                    </label>
                    <input type="text" class="form-control" id="edit-username" aria-describedby="userNameHelp" name="edit-username" placeholder="{{user.username}}" >
                    <small id="userNameHelp" class="form-text">
                        A unique name just for you
                    </small>
                </div>

                <!-- Phone number -->
                <div class="col">
                    <label for="edit-phone" class="form-label">
                        Mobile Phone no.
                    </label>
                    <input aria-describedby="phoneHelp" class="form-control" id="edit-phone" maxlength="11" name="edit-phone" pattern="[0]{1}[7-9]{1}[0-1]{1}[0-9]{8}" placeholder="{{user.phone}}"  type="tel">
                    <small id="phoneHelp" class="form-text">
                        Must begin with "0", then a "7", "8", or "9", then a "0" or "1", and 8 more digits.
                    </small>
                </div>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="edit-email" class="form-label">
                    Email address
                </label>
                <input type="email" class="form-control" id="edit-email" aria-describedby="emailHelp" name="edit-email" placeholder="{{user.email}}" >
                <small id="emailHelp" class="form-text">
                    We'll never share your email with anyone else.
                </small>
            </div>

            <div class="mb-3 row">

                <!-- Password -->
                <div class="col">
                    <label for="edit-password" class="form-label">
                        Password
                    </label>
                    <input aria-describedby="passwordHelp" class="form-control" id="edit-password" minlength="8" name="edit-password"  type="password">
                    <small id="passwordHelp" class="form-text">
                        Must be a minimum of 8 characters.
                    </small>
                </div>
                
            <!-- Password Confirmation -->
                <div class="col">
                    <label for="edit-password-confirm" class="form-label">
                        Retype Password
                    </label>
                    <input aria-describedby="passwordConfirmHelp" class="form-control" id="edit-password-confirm" minlength="8" name="edit-password-confirm"  type="password">
                    <small id="passwordConfirmHelp" class="form-text">
                        Passwords must match
                    </small>
                </div>
            </div>
            
            <div>
                
                <div class="mb-3 row">

                    <!-- Gender Selection -->
                    <div class="col">
                        <label class="form-label" for="edit-gender">
                            Gender
                        </label>
                        <select aria-describedby="genderHelp"  class="form-control" id="edit-gender" name="edit-gender" list="gender">
                            <option value="{{user.gender}}">{{user.gender}}</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <small id="genderHelp" class="form-text">
                            Are you male or female?
                        </small>
                    </div>		
                    
                    <!-- Birthday -->
                    <div class="col">                    
                        <label class="form-label" for="edit-birthday">
                            Birthday:
                        </label>
                        <input aria-describedby="birthdayHelp" class="form-control" id="edit-birthday" name="edit-birthday" type="date">
                        <small id="birthdayHelp" class="form-text">
                            The date you were born.
                        </small>
                    </div>
                </div>

                <div class="mb-3 row">
                    
                    <!-- Country -->
                    <div class="col">
                        <label for="edit-country" class="form-label">
                            Country
                        </label>
                        <input aria-describedby="countryHelp" class="form-control" id="edit-country" name="edit-country" placeholder="{{user.country}}" type="text">
                        <small id="countryHelp" class="form-text">
                            Country of residence
                        </small>
                    </div>

                    <!-- State -->
                    <div class="col">
                        <label for="edit-state" class="form-label">
                            State
                        </label>
                        <input aria-describedby="stateHelp" class="form-control" id="edit-state" name="edit-state" placeholder="{{user.state}}" type="text">
                        <small id="stateHelp" class="form-text">
                            State in Country
                        </small>
                    </div>
                </div>

                <div class="mb-3 row">
                    
                    <!-- LGA -->
                    <div class="col">
                        <label for="edit-lga" class="form-label">
                            LGA
                        </label>
                        <input aria-describedby="lgaHelp" class="form-control" id="edit-lga" name="edit-lga" placeholder="{{user.lga}}" type="text">
                        <small id="lgaHelp" class="form-text">
                            Your Local Government Area
                        </small>
                    </div>
                
                    <!-- City -->
                    <div class="col">
                        <label for="edit-city" class="form-label">
                            City/Town
                        </label>
                        <input aria-describedby="cityHelp" class="form-control" id="edit-city" name="edit-city" placeholder="{{user.city}}" type="text">
                        <small id="cityHelp" class="form-text">
                            Your City or Town of residence
                        </small>
                    </div>

                </div>
                
                <!-- Address -->
                <div class="mb-3">
                    <label for="edit-address" class="form-label">
                        Address
                    </label>
                    <input aria-describedby="addressHelp" class="form-control" id="edit-address" name="edit-address" placeholder="{{user.address}}" type="text">
                    <small id="addressHelp" class="form-text">
                        House number and Street name
                    </small>
                </div>

                <div class="mb-3 row">
                    
                    <!-- Occupation -->
                    <div class="col">
                        <label for="edit-occupation" class="form-label">
                            Occupation
                        </label>
                        <input aria-describedby="occupationHelp" class="form-control" id="edit-occupation" name="edit-occupation" placeholder="{{user.occupation}}" type="text">
                        <small id="occupationHelp" class="form-text">
                            What you do for a living
                        </small>
                    </div>
                
                    <!-- Linkedin URL -->
                    <div class="col">
                        <label for="edit-linkedin" class="form-label">
                            Linkedin Profile
                        </label>
                        <input aria-describedby="linkedinHelp" class="form-control" id="edit-linkedin" name="edit-linkedin" placeholder="{{ user.linkedin }}" type="url">
                        <small id="linkedinHelp" class="form-text">
                            Full URL to your Linkedin page
                        </small>
                    </div>

                </div>

                <!-- Bio -->
                <div class="mb-3">
                    <label for="edit-bio" class="form-label">
                        Bio
                    </label>
                    <textarea aria-describedby="bioHelp" class="form-control" id="edit-bio" name="edit-bio"type="text">{{ user.bio }}</textarea>
                    <small id="bioHelp" class="form-text">
                        Tell us a little about you
                    </small>
                </div>

                <!-- Profile Picture -->
                <div class="mb-3">
                    <label for="edit-profile-pic" class="form-label">
                        Profile Picture
                    </label>
                    <input alt="Profile Picture" aria-describedby="profilePicHelp" class="form-control" id="edit-profile-pic" name="edit-profile-pic" type="file">
                    <small id="profilePicHelp" class="form-text">
                        A profile picture of you
                    </small>
                </div>

            </div>
            
            <br>
            <button class="btn btn-primary mx-auto" type="submit">
                Update
            </button>

        </form>
    </main>
    {% endif %}
{% endblock %}